<div class="container responsive-container">
  <app-header> </app-header>
  <router-outlet></router-outlet>
  <!-- <app-bike-rental></app-bike-rental> -->

  <app-footer> </app-footer>
</div>

<!-- <header class="header">
  <div class="header-container">
    <img src="D:\Web development\Schools\Angular School\Projects\Biking.ie\Biking\src\media\images\small-biking.ie-logo.png" alt="biking.ie-logo">
    <nav class="navbar">
      <ul class="navbar-links">
        <li>Bike Rental </li>
      </ul>
    </nav>
  </div>
  
</header> -->
